body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #37795f;
}



header {
  background-color: #37795f;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
h2 {
  color: black;
}

.product {
  background-color: #e7e7e7;
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
  color: #37795f;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.modal-content {
  color: #37795f;
  background-color: #e7e7e7;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #37795f;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #ccc;
}
