.about-section h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color:  white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  color: white;
}

.text {
  flex: 1;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.reverse {
  flex-direction: row-reverse;
}

.text p {
  line-height: 1.6; /* Puedes ajustar el valor según tus necesidades */
}

/* Tamaño de imagen para pantallas grandes */
@media (min-width: 1024px) {
  .image img {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .image img {
    max-width: 100%;
  }
  .content {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px;
  }

  h1 {
    padding: 10px 0;
  }

  .footer {
    display: none;
  }
}
